/* css for currency list */
.currency-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.currency-list li {
    margin: 5px 0;
    font-size: 1.1rem;
    color: #6c757d;
}

/* css for image in home */
.image-container {
    margin-top: 3cm;
    max-width: 600px;
    margin: 2rem auto; 
}

.animated-image {
    max-width: 100%;
    height: auto;
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.03); opacity: 0.95; }
    100% { transform: scale(1); opacity: 1; }
}

.animated-image.pulse {
    animation: pulse 7s ease-in-out infinite;
}

@keyframes fadeSlide {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
}

.success-animate {
    animation: fadeSlide 1.5s ease-out;
}
