{% extends 'backend_brokers/base.html' %}

{% block title %}Dodaj nowy portfel{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm mx-auto" style="max-width: 600px; background-color: #f8f9fa;">
        <div class="card-body">
            <h1 class="card-title text-center mb-4" style="color: #6c757d;">Dodaj nowy portfel</h1>
            
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-success">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new wallet</title>
</head>

  <a href="{% url 'profile_edit' %}">Edytuj profil</a> |   <a href="{% url 'wallets' %}">Lista portfeli</a> |   <a href="{% url 'exchange_rates' %}">Tabela kursów </a>


<h2>Dodaj nowy portfel</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Dodaj</button>
</form>

</body>
</html> -->