{% extends 'backend_brokers/base.html' %}
{% load static i18n %}

{% block title %}{% trans "Limit portfeli przekroczony" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm mx-auto" style="max-width: 600px;">
        <div class="card-body text-center">
            <h1 class="card-title mb-4 text-danger">
                {% trans "Houston, mamy problem!" %}
            </h1>

            <p class="mb-3">
                {% trans "Wyczerpałeś limit liczby portfeli obsługiwanych w ramach Twojego konta." %}
            </p>
            <p>
                {% trans "Zaktualizuj swój plan serwisowy, aby dodać kolejny portfel." %}
            </p>

            <a href="{% url 'profile_edit' %}" class="btn btn-primary mt-3">
                {% trans "Zaktualizuj plan" %}
            </a>
        </div>
    </div>
</div>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Houston, mamy problem!</title>
</head>
<body>

  <a href="{% url 'profile_edit' %}">Edytuj profil</a> |   <a href="{% url 'wallets' %}">Lista portfeli</a> |   <a href="{% url 'exchange_rates' %}">Tabela kursów </a>

Wyczerpałeś limit liczby portfeli obsługiwanych w ramach Twojego konta. <BR>
Zaktualizuj swój plan serwisowy aby dodać kolejny portfel.
</body>
</html> -->