{% extends 'backend_brokers/base.html' %}
{% load static i18n %}

{% block title %}{% trans "Przelew między kontami" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <h1 class="card-title text-center mb-4">
                {% trans "Przelej środki między kontami" %}
            </h1>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-success">
                        {% trans "Wykonaj przelew" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Przelej środki między kontami</title>
</head>
<body>


 {% if user.is_authenticated and user.profile %}
 <div align="right">
    <a href="{% url 'exchange_rates' %}">Kursy walut</a> |
    <a href="{% url 'wallets' %}">Twoje Portfele</a> |
    <a href="{% url 'profile' %}">Twój profil</a> |

</div>

  {% endif %}

<h2>Przelej środki między kontami</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Wykonaj przelew</button>
</form>

</body>
</html> -->