<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


 {% if user.is_authenticated and user.profile %}
 <div align="right">
    <a href="{% url 'exchange_rates' %}">Kursy walut</a> |
    <a href="{% url 'wallets' %}">Twoje Portfele</a> |
    <a href="{% url 'profile' %}">Twój profil</a> |

</div>

  {% endif %}


<H1><p>Portfel {{ wallet.currency }}</p></H1>

<p>Waluta: {{ wallet.currency }}</p>

<p>Stan konta: {{ wallet.balance|floatformat:2 }}</p>

<p>Numer konta do przelewu: {{ wallet.iban }}</p>

 ---------------------------------------<BR>

 <h3>Dodaj środki</h3>

---------------------------------------<BR>

{% if transactions_remaining <= 0 %}
 <a href="{% url 'transfer_funds' %}" ><b>Wymień</b></a><BR>
 <small>Wyczerpano limit transakcji z promocyjnym spreadem. Kolejna wymiana wykonana będzie ze spreadem standardowym. </small><BR>

  {% else %}
 <a href="{% url 'transfer_funds' %}" ><b>Wymień</b></a><BR>
 <small>Pozostało {{ transactions_remaining }} transakcji z promocyjnym spreadem. </small><BR>
{% endif %}

---------------------------------------<BR>

{% if wallet.balance == 0 %}
    <form action="{% url 'delete_wallet' wallet.id %}" method="get">
        <button type="submit" class="btn btn-danger">Usuń</button>
    </form>
{% else %}
   <p><b>Usuń</b></p>
 <p style="color: gray; font-size: small">Ten portfel nie może zostać usunięty ponieważ nie jest pusty. Saldo musi wynosić 0.00</p>
{% endif %}


---------------------------------------<BR>
<h2>Historia transakcji dla portfela: {{ wallet.name }}</h2>
<!--<p>IBAN: {{ wallet.iban }}</p>-->

{% if transactions %}
    <ul>
        {% for tx in transactions %}
            <li>
                <strong>{{ tx.created_at|date:"Y-m-d H:i" }}</strong>
                {{ tx.amount|floatformat:2 }} {{ tx.from_currency }} z konta {{ tx.source_iban }} wymieniono na {{ tx.result_amount|floatformat:2 }} {{ tx.to_currency }} po kursie {{ tx.rate }} i przelano na konto {{ tx.destination_iban }}<br>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Brak transakcji dla tego portfela.</p>
{% endif %}


</body>
</html>

