{% extends 'backend_brokers/base.html' %}
{% load static i18n %}

{% block title %}{% trans "Błąd usuwania portfela" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <h1 class="card-title text-center mb-4 text-danger">{% trans "Nie można usunąć portfela" %}</h1>

            <p class="text-center text-muted">{{ message }}</p>

            <div class="text-center mt-3">
                <a href="{% url 'wallets' %}" class="btn btn-secondary">
                    {% trans "Powrót do listy portfeli" %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Błąd usuwania portfela</title>
</head>
<body>


 {% if user.is_authenticated and user.profile %}
 <div align="right">
    <a href="{% url 'exchange_rates' %}">Kursy walut</a> |
    <a href="{% url 'wallets' %}">Twoje Portfele</a> |
    <a href="{% url 'profile' %}">Twój profil</a> |
    <form action="{% url 'logout' %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit" style="background:none; border:none; color:#00f; cursor:pointer; text-decoration:underline;">
        Wyloguj
    </button>
</div>

  {% endif %}

<h2>Nie można usunąć portfela</h2>
<p>{{ message }}</p>
<a href="{% url 'wallets' %}">Powrót do listy portfeli</a>

</body>
</html> -->